#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}



.read-the-docs {
  color: #888;
}
button{
  height: 2.5vw;
  width: 2.5vw;
}
.reset-btn{
  width: 4vw;
}